@import url('https://fonts.googleapis.com/css?family=Karla|Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  /* font-family: 'Karla', sans-serif; */
  color: #323232;
  font-family: Montserrat, Arial, sans-serif;
}

body {
  white-space: pre-line !important;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.app-layout-content {
  background: "#fff";
  /* padding: 24px; */
  margin: 0;
  /* min-height: calc(100%) */
}
@media only screen and (max-width: 600px) {
  .app-layout-content {
    padding: 0px;
    margin: 0px;
  }
  .trigger {
    padding: 0;
  }
  .ant-layout-header {
    padding: 0;
  }
  p {
    font-size: 1em !important;
  }
  .section-introduction {
    padding: 10px 0 !important;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
